/* General */

@import url('../config/colors.css');

* {
	font-family: "Merriweather", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-1);
}

/* Banner */

.banner-container {
	width: 100%;
	height: 100vh;
	background-image: url('../img/banner.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
}

.banner-titlebox {
	height: 200px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	background-color: var(--secondary);
	opacity: .8;
}

.banner-titlebox h1,
.banner-titlebox p {
	color: var(--text-1);
}

.banner-titlebox h1 {
	padding-bottom: 10px;
}

.banner-titlebox p {
	line-height: 22px;
}

/* Section News */

.news-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.news-box {
	display: flex;
	margin-bottom: 20px;
}

.news-box:last-child {
	margin-bottom: 0;
}

.news-title {
	width: 40%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.news-title p {
	color: var(--text-2);
}

#economy-box {
	background-color: var(--background-2);
}

#meteorology-box {
	background-color: var(--background-3);
}

#sports-box {
	background-color: var(--background-4);
}

.news-description {
	width: 60%;
	padding-left: 10px;
}

.news-description h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.news-description p {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: var(--text-1);
}

#economy-title {
	color: var(--background-2);
}

#meteorology-title {
	color: var(--background-3);
}

#sports-title {
	color: var(--background-4);
}

/* Container */

.container {
	width: 100%;
	height: 125vh;
	background-image: url('../img/footer.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
}

/* Section About */

.about-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	opacity: .8;
	padding: 10px;
}

.about-card {
	background-color: var(--secondary);
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}

.about-card:last-child {
	margin-bottom: 0;
}

.about-card i,
.about-card p {
	color: var(--text-3);
}

.about-card i {
	font-size: 40px;
}

.about-card p {
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}

/* Footer */

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.form-container {
	margin: 10px;
	padding: 10px;
	background-color: var(--secondary);
	opacity: .8;
}

.form-container input,
.form-container textarea {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: none;
	border-bottom: 1px solid var(--text-3);
	outline: none;
	background-color: transparent;
	color: var(--text-1);
	font-size: 14px;
	font-weight: 300;
	box-sizing: border-box;
}

.form-container textarea {
	height: 75px;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
	color: var(--text-3);
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container textarea:focus {
	border-bottom: 1px solid var(--primary);
}

.btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-container button {
	width: 100%;
	padding: 10px 0;
	border: none;
	background-color: var(--primary);
	color: var(--text-2);
	opacity: .8;
	font-size: 16px;
	font-weight: 700;
}

.btn-container i {
	margin-right: 10px;
}

.copyright {
	text-align: center;
	padding: 30px 0;
	font-size: 14px;
	font-weight: 300;
	background-color: var(--secondary);
	color: var(--text-3);
	opacity: .8;
}

.copyright span {
	font-weight: 700;
}

/* Responsive */

@media (min-width: 576px) {

	/* Banner */

	.banner-titlebox {
		padding: 20px 10px;
	}

	.banner-titlebox h1 {
		padding-bottom: 20px;
	}

	.banner-titlebox p {
		line-height: 25px;
	}

	/* Section News */

	.news-container {
		padding: 20px 10px;
	}

	/* Section About */

	.about-container {
		padding: 20px 10px;
	}

	.about-card {
		margin-bottom: 20px;
	}

	/* Footer */

	.form-container {
		margin: 20px 10px;
		padding: 20px 10px;
	}

}

@media (min-width: 768px) {

	/* Banner */

	.banner-titlebox {
		padding: 20px;
	}

	/* Section News */

	.news-container {
		padding: 20px;
	}

	.news-title {
		width: 30%;
	}

	.news-title p {
		font-size: 18px;
	}

	.news-description {
		width: 70%;
		padding-left: 20px;
	}

	.news-description p {
		line-height: 25px;
	}

	/* Section About */

	.about-container {
		flex-direction: row;
		padding: 20px;
	}

	.about-card {
		padding: 20px;
		margin-bottom: 0;
		margin-right: 20px;
	}

	.about-card:last-child {
		margin-right: 0;
	}

	.about-card p {
		line-height: 25px;
	}

	/* Footer */

	.form-container {
		margin: 20px;
		padding: 20px;
	}

	.form-container input,
	.form-container textarea {
		margin-bottom: 20px;
	}

}

@media (min-width: 992px) {

	/* Banner */

	.banner-titlebox {
		padding: 20px 80px;
	}

	/* Section News */

	.news-container {
		padding: 20px 80px;
	}

	.news-title {
		width: 25%;
	}

	.news-description {
		width: 75%;
	}

	.news-description h3 {
		margin-bottom: 20px;
	}

	.news-description p {
		font-size: 16px;
	}

	/* Section About */

	.about-container {
		padding: 20px 80px;
	}

	.about-card p {
		font-size: 16px;
	}

	/* Footer */

	.form-container {
		margin: 20px 80px;
		width: 50%;
	}

	.form-container input,
	.form-container textarea {
		font-size: 16px;
	}

	.btn-container button {
		transition: .5s;
		cursor: pointer;
	}

	.btn-container button:hover {
		opacity: 1;
	}

	.copyright {
		padding: 40px 0;
	}

}

@media (min-width: 1200px) {

	/* Banner */

	.banner-titlebox {
		padding: 20px 160px;
	}

	.banner-titlebox p {
		width: 50%;
	}

	/* Section News */

	.news-container {
		padding: 20px 160px;
	}

	/* Section About */

	.about-container {
		padding: 20px 160px;
	}

	/* Footer */

	.form-container {
		margin: 20px 160px;
	}

}