/* Colors */

:root {
	--primary: #0060F3;
	--secondary: #CCCCCC;
	--text-1: #0A0A0A;
	--text-2: #F5F5F5;
	--text-3: #7A7A7A;
	--background-1: #F5F5F5;
	--background-2: #D75745;
	--background-3: #F9BB4B;
	--background-4: #2D75BB;
}